body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(); 
    background-size: cover; /
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    
}

h1 {
    color: #693a3a;
}

p {
    color: #774f4f;
}
button {
    background-color: #4CAF50;
    color: rgb(226, 16, 16); 
    padding: 15px 32px; 
    text-align: center; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border: none; 
    border-radius: 4px; 
}

button:hover {
    background-color: #45a049;
}

